.launchpad-section {
    align-items: center;
    border: 1px solid #2f2f36;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 24px;
    padding: 24px 32px;
    width: 100%;
    text-align: left;
    width: 100%;
    max-width: 1180px;
}

.launchpad-left-part {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 48%;
    color: white;
    justify-content: flex-start;
    gap: 20px;
}

.launchpad-left-part h3 {
    font-style: normal;
    color: rgb(255, 255, 255);
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 32px !important;
}

.launchpad-left-part p {
    color: rgb(160, 165, 181);
    line-height: 30px;
}

@media screen and (max-width: 999px) {
    .launchpad-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .launchpad-left-part {
        width: 90%;
    }

    .launchpad-right-part {
        align-self: center;
    }
}