.dashboard-navbar {
    display: flex;
    color: white;
    justify-content: space-around;
    gap: 150px;
    align-items: center;
    border-bottom: 1px solid #3b3b3b;
    height: 56px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    position: relative;
}

.dashboard-navbar-left-side {
    display: flex;
    align-items: center;
}

.logo-section {
    margin-left: 5px;
}

.navbar-options {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 2px;
}

.dashboard-navbar-left-side ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
    flex: 1 1;
}

.dashboard-navbar-right-side {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.dashboard-navbar-left-side ul li {
    color: rgb(141, 176, 181);
    font-size: 14px;
}

.dashboard-navbar-left-side ul li:hover {
    color: rgb(6, 230, 215);
    cursor: pointer;
}

.selected {
    color: rgb(6, 230, 215) !important;
    background-color: rgb(1, 52, 49);
    padding: 5px 10px;
    border-radius: 6px;
}

.amount-section {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.eth {
    background-color: transparent;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.eth-btn {
    background-color: transparent;
    color: white;
    border: none;
    border: 1px solid grey;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 6px;
}

.eth-btn:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
}

.eth-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.connect-wallet-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 6px;
    color: rgb(6, 230, 215);
    border: 1px solid rgb(6, 230, 215);
    background-color: inherit;
}

.connect-wallet-btn:hover {
    background-color: rgb(1, 52, 49);
    cursor: pointer;
}