.modal {
    position: absolute;
    top: 0;
    left: 43%;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-left: 1px solid rgb(41, 41, 41);
    border-right: 1px solid rgb(41, 41, 41);
    border-end-start-radius: 40px;
    border-end-end-radius: 40px;
    background-color: #1A1A1A;
    transition: all .3s ease-in-out;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    background-color: #1A1A1A;
    padding: 5px;
}

.modal-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.qs-mark,
.close-modal {
    padding: 10px;
    border-radius: 80px;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(41, 41, 41);
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 40px;
    border: 1px solid rgb(41, 41, 41);
    background-color: rgb(20, 20, 20);

}

.modal-content .select-network {
    color: #E4E7E7;
    padding: 10px 10px 10px;
    font-size: 20px;
    font-weight: 600;
}

.network-name {
    align-self: flex-start;
    font-size: 14px;
    font-style: normal;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 5px;
    border-radius: 16px;
}

.btn-hover:hover {
    cursor: pointer;
    background-color: rgb(26, 26, 26);
}