.msg-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1180px;
}

.msg-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 100px;
    padding: 1px;
    background: linear-gradient(88.14deg, rgb(3, 204, 204) 0%, rgb(22, 22, 22) 15.98%, rgb(22, 22, 22) 82.24%, rgb(3, 204, 204) 100%);
    border-radius: 5px;
}

.msg-container p {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
    color: rgb(99, 255, 255);
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
}